.card {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.card-image img{
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

.price-box{
    display: flex;
    flex-direction: row;
}

.price-box img {
    margin: auto 1rem auto 1rem;
    width: 24px;
    height: 24px;
}

.price-box h1 {
    margin: auto 0 auto 0;
}
